{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}"/>

<div class="head">
    <div class="logo">

        <h1 style="font-family: LXGW WenKai TC"> OnShortWave </h1>

    </div>
    <div class="navigation">
    <a href="/">Главная страница</a>
    <a href="/products">Товары</a>
    <a href="/disc">Уценка</a>
    </div>
</div>
<div class="productsList">
    {% for products in prod %}
<div class="products">
    <img class="productPreview" src="{{ products.image_Url }}">
    <div>
        <h2> {{ products.name}}</h2>
    <p> {{ products.description }} </p>

    </div>
    <div class="priceSection">
    <h3> {{ products.price }} ₽</h3>
    <button>
        Купить
    </button>
    </div>
</div>
    {% endfor %}
</div>
