{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="head">
    <div class="logo">

        <h1 class="logoText"> OnShortWave </h1>

    </div>
    <div class="navigation">
    <a href="/">Главная страница</a>
    <a href="/product">Товары</a>
    <a href="/disc">Уценка</a>
    </div>
</div>
<div class="productCard">
    <img class="productImg" src="{{ products.image_Url }}">
    <div class="productInfo">
        <h1> {{ products.name }}</h1>
        <h3>{{ products.price }}₽</h3>
        <button>
            Купить
        </button>
    </div>
</div>
<div class="productDes">
    <h1>Описание:</h1>
    <h1>{{ products.description }}</h1>
    <h1>Характеристики:</h1>
    <h1>{{ products.range }}</h1>
</div>