    @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

    h1 {
        font-family: LXGW WenKai TC;
    }
    .logoText {
        color: CornflowerBlue;
        font-family: LXGW WenKai TC;
    }
    h3 {
        font-family: LXGW WenKai TC;
    }
    *{
        font-family: bookman old style;
    }
    .productPreview {
        max-width: 300px;
        max-height: 300px;
    }

    .products {
        display: flex;
        border: 2px solid #178bcb ;
        margin-top: 20px;
        border-radius: 15px;
        padding: 10px;
        background: white;
        width: 60%;
    }

    .head{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .logo{
        background: #F0F8FF;
        margin: 10px;
        padding: 0;
        border-radius: 10px;
    }

    a {
        margin-left: 12px;
        font-family: LXGW WenKai TC;
        text-decoration: none;
        color: #4682B4;
        font-weight: bold;
        font-size: 25px;
    }

    h2{
        #color:CornflowerBlue;
    }

    a:hover {
        color: #CD5C5C;
    }

    .navigation {
        margin-left: 50px;
    }

    .productsList {
        background-color: #F0F8FF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        height: 50px;
        width: 150px;
        #width: 100%;
        background-color: white;
        border: 2px solid #178bcb;
        padding: 0;
        border-radius: 20px;
        cursor: pointer;
        font-size: 25px;
    }

    button:hover {
        color: #000000;
        background:#F0F8FF;
    }

    priceSection {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }
    .productCard {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: row;
    }
    .productDetails {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    .productImg {
        max-width: 700px;
        max-height: 700px;
    }
    .productDes {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 11px;
    }
    .productInfo {
        margin-left: 10px;
    }